RewriteEngine On 
RewriteBase /~illatoz/wp-content/themes/illatoz_wp/_data/
RewriteRule ^index.php$ - [L] 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . index.php [L]